<% content_for :controls do %>
	<%= link_to raw('<i class="icon-arrow-left icon-white"></i>'), bills_path, data: {confirm: "Está seguro de cerrar este pedido?"}%>
<% end %>
<h1 class="dark-gray">Editar</h1>

<%= render 'form' %>