<%= link_to "Reload", reload_kitchen_path(type: "control",id: params[:id]), remote: true, class: "reload_kitchen" %>
<div class="kitchen_scope">
	<%= render "kitchen_control", kitchen_id: params[:id] %>
</div>