<%= link_to raw('<i class="icon-arrow-left icon-white"></i>'), inventory_movements_path, class: 'action_button back_button btn btn-inverse btn-rounded' %>

<h1><%= t(:editing_inventory_movements) %></h1>

<%= render 'form' %>
