@import 'variables';
.modal-body {
  form{
    .row-c{
       &:after, &:before{
        content:" ";
        display: table;
       }
       &:after{
        clear: both;
       }
       zoom: 1;
      fieldset{
        border: none;
      }
    }
  }
}

.icon-save-floppy{
    margin-left:15px;
}

.white{
    color :white;
    margin: 0 auto;
}