$green: #27B4AE;
$light_green: #64C5BB;
$dark_green: #229C95;
$yellow: #FBA61C;
$blue: #48AFE4;
$light_red: #F0C5C5;
$light_dark_red: #F0A9A8;
$red: #EF2824;
$dark_red: #C4201D;
$darkest_red: #5C0D13;
$beige: #F2F3F4;
$gray: #BDBEC1;
$dark_gray: #A8A9AD;
$light_gray: #D5D6D8;
$lime: #526B02;